<div id="item-wrapper-popup">
    <div id="top-section-wrapper">
        <div>
            <img id="image-preview" data-index="{{@index}}" class="{{#ifCond @index '==' 0}}active{{/ifCond}}" data-click="{{concat '/templates/bundle/assets/banner/' banner_name '/' picture.[0]}}" src="{{concat '/templates/bundle/assets/banner/' banner_name '/' picture.[0]}}"/>
            <div id="image-slider">
                {{#each picture}}
                    <img class="sub-image" data-index="{{@index}}" src="{{concat '/templates/bundle/assets/banner/' ../banner_name '/' this}}"/>
                {{/each}}
            </div>
        </div>
        <div class="item-details-wrapper">
            <h2>{{name}}</h2>
        </div>
        <div class="right-section">
            <button class="favorite-button" id="{{#if saved}}favorite{{else}}unfavorite{{/if}}-button" data-id="{{id}}" data-banner_name="{{banner_name}}">{{#if saved}}Favorite{{else}}Undo Favorite{{/if}}</button>
        </div>
    </div>

    <table cellpadding="10px">
        <thead>
            <tr>
                <th scope="col">Seller</th>
                <th scope="col">Condition</th>
                <th scope="col">Price</th>
                <th scope="col">Offer</th>
            </tr>
        </thead>
        <tbody>
        {{#each offers}}
            <tr>
                <td>{{seller}}</td>
                <td>{{condition}}</td>
                <td>{{price}}</td>
                <td><a href="{{url}}" target="_blank"><button class="link-button">View Offer</button></a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>